.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: transparent;
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.4rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  color: $mainColor;
  border: 1px solid $mainColor;
  cursor: pointer;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;

  .icon {
    font-size: 1.3rem;
  }

  &:hover {
    background-color: $mainColor;
    color: white;
    text-shadow: 0 0 0.5px black;
  }
}

.danger {
  $color: red;
  color: $color;
  border: 1px solid $color;

  &:hover {
    background-color: $color;
    color: white;
    text-shadow: 0 0 0.5px black;
  }
}

.mini-danger {
  $color: rgb(255, 115, 0);
  color: $color;
  border: 1px solid $color;

  &:hover {
    background-color: $color;
    color: white;
    text-shadow: 0 0 0.5px black;
  }
}

.success {
  $color: rgb(0, 255, 0);
  color: $color;
  border: 1px solid $color;

  &:hover {
    background-color: $color;
    color: white;
    text-shadow: 0 0 0.5px black;
  }
}

.sky {
  $color: rgb(0, 106, 255);
  color: $color;
  border: 1px solid $color;

  &:hover {
    background-color: $color;
    color: white;
    text-shadow: 0 0 0.5px black;
  }
}

@media (max-width: 768px) {
  .btn {
    font-size: 1rem;
  }
}
