.btn {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  text-shadow: 0px 0px 1px black;
  cursor: pointer;
  margin: 1rem 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
}

.light {
  border: 1px solid rgba(255, 255, 255, 0.082);

  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.115),
    rgba(255, 255, 255, 0.032)
  );

  &:hover {
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.021),
      rgba(255, 255, 255, 0.037)
    );
  }
}

.sky {
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.773) inset;

  background-image: linear-gradient(45deg, rgb(1, 107, 182), rgb(0, 170, 255));

  &:hover {
    background-image: linear-gradient(45deg, rgb(0, 80, 172), rgb(1, 49, 151));
  }
}

.blue {
  background-image: linear-gradient(45deg, rgb(0, 123, 255), rgb(0, 0, 255));

  &:hover {
    background-image: linear-gradient(45deg, rgb(0, 80, 172), rgb(1, 49, 151));
  }
}

.danger {
  box-shadow: 0px 0px 3px rgb(255, 255, 255) inset;

  background-image: linear-gradient(45deg, rgb(255, 0, 72), rgb(255, 0, 179));

  &:hover {
    background-image: linear-gradient(
      45deg,
      rgb(255, 1, 120),
      rgb(255, 0, 195)
    );
  }
}

.success {
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.791) inset;

  background-image: linear-gradient(45deg, rgb(1, 122, 64), rgb(35, 238, 147));

  &:hover {
    background-image: linear-gradient(
      45deg,
      rgb(0, 174, 90),
      rgb(70, 251, 170)
    );
  }
}

@media (max-width: 768px) {
  .btn {
    font-size: 1rem;
  }
}
