.display-note {
  padding: 2rem 5rem;
  color: $white;

  hr {
    border: 1px solid rgb(61, 61, 61);
    margin: 0.5rem 0;
  }

  .title-info {
    // border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-size: 2.5rem;
    font-family: "Josefin Sans", sans-serif;
  }

  .date {
    font-size: 1.2rem;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .options {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
  }

  .content {
    // border: 1px solid blue;
    width: 80%;
    margin: 2.5rem auto;
    font-size: 1.5rem;
    font-family: "Tilt Neon", sans-serif;
    line-height: 2;
  }
}
