@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap");

@import "var";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

// main {
//   position: relative;
//   width: 100vw;
//   height: 100vh;
// }

// main.DARK {
//   background-color: rgb(17, 17, 17);
//   color: white;
// }

// main.LIGHT {
//   background-color: rgb(230, 227, 227);
//   color: black;
// }

body.DARK {
  $color: rgb(17, 17, 17);
  background-color: $color;
  color: white;

  nav {
    background-color: $color;
    color: $white;
  }
}

body.LIGHT {
  background-color: rgb(230, 227, 227);
  color: black;
}

.body {
  position: relative;
  display: flex;
  flex-direction: row;
}

.main-body {
  position: absolute;
  width: 100%;
  height: 92vh;
  right: 0;
  top: 8vh;
}

.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

// .not-logged-in {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: 100%;
//   gap: 2rem;
//   margin: 5rem 0;

//   .heading {
//     font-size: 2rem;
//     color: rgb(255, 94, 0);
//     text-shadow: 0 0 2px red;
//   }

//   .link {
//     padding: 1rem 2rem;
//     border-radius: 0.5rem;
//     font-size: 1.5rem;
//     background-color: $mainColor;
//     color: rgb(28, 28, 28);
//     transition: all 0.3s ease-in-out;
//     font-weight: bold;

//     &:hover {
//       transform: scale(1.1);
//     }
//   }
// }

@import "navbar";
@import "home";
@import "create-book";
@import "display";
@import "display-note";
@import "protection-key-form";

@import "utils/button";
@import "utils/card";
@import "utils/confirm";
